.navMenu{
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
    animation: menuAnimate 0.3s 1;
    background-color: #1A1A1A;
    z-index: 1;
    width: 100vw;
}

@keyframes menuAnimate{
    0%{
        height: 0vh;
    }


    100%{
        height: 100vh;
    }
}


.navContent{
    position: absolute;
    top: 3rem;
    left: 17vw;
    z-index: 10;
    font-size: 1.5rem;
    display: flex;
    font-family: poppins;
    flex-direction: column;
    justify-content: space-around;
    width: 65vw;
    height: 90vh;
    overflow: hidden;
    align-items: center;
}


.line{
    width: 90vw;
    height: 0.1rem;
    background-color: grey;
}


.homeText{
    color: #bdbdbd;
    transition: 0.2s;
}

.homeText:hover{
    cursor: pointer;
    color: white;
}




.labText{
    color: #bdbdbd;
    transition: 0.2s;
}

.labText:hover{
    cursor: pointer;
    color: white;
}





.aboutText{
    color: #bdbdbd;
    transition: 0.2s;
}

.aboutText:hover{
    cursor: pointer;
    color: white;
}



.contactText{
    color: #bdbdbd;
    transition: 0.2s;
}

.contactText:hover{
    cursor: pointer;
    color: white;
}


.menuMoon{
    position: absolute;
    z-index: 1;
    width: 25rem;
    left: 65vw;
    top: 60vh;
    opacity: 0.2;
    max-width: 25rem;
}


@media only screen and (max-width: 600px){
    .menuMoon{
        top: 55vh;
        transform: translateY(-50%);
        left: 15vw;
        opacity: 0.1;
    }
}


@media only screen and (max-width: 500px){
    .menuMoon{
        top: 55vh;
        transform: translateY(-50%);
        left: 15vw;
        width: 20rem;
        opacity: 0.1;
    }
}




@media only screen and (max-width: 400px){
    .menuMoon{
        left: 1rem;
    }
}
