body,html{
    position:relative;
    overflow-x:hidden;
    width: 100vw;
    height: 100vh;
    left: 0rem;
    top: 0rem;
}

body{
    position: relative;
    background-color: #02011E;
    overflow-x: hidden;
}


.website{
    position:relative;
    overflow-x:hidden;
    width: 100vw;
    height: 100vh;
    left: 0rem;
    top: 0rem;
    display: none;
}

.menuOpen{
    position: absolute;
    top: 0.7rem;
    right: 0rem;
    height: 1.8rem;
    background-color: white;
}

.nav{
    display: flex;
    width: 100vw;
    height: 3rem;
    top: 0rem;
    left: 0rem;
    overflow: hidden;
    position: fixed;
    justify-content: space-around;
    z-index: 820;
    background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0));
}

.navLogo{
    position: absolute;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    left: 2vw;
    opacity: 0.7;
    transition: 0.2s;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.navLogo:hover{
    opacity: 1;
}


.hamburgerMenu{
    position: absolute;
    display: flex;
    background-color: transparent;
    width: 3rem;
    height: 1.7rem;
    right: 5vw;
    top: 1rem;
    opacity: 0.7;
    transform: scale(-1, 1);
    transition: all 0.2s;
    z-index: 100;
}

.rectangle1{
    position: absolute;
    display: flex;
    width: 2.5rem;
    height: 0.15rem;
    background-color: white;
    top: 0.2rem;
    left: 0rem;
    transition: 0.2s;
    z-index: 1000;
}

.rectangle2{
    position: absolute;
    display: flex;
    width: 1.5rem;
    height: 0.15rem;
    background-color: white;
    left: 0rem;
    bottom: 0.8rem;
    transition: 0.2s;
    z-index: 1001;
}

.rectangle3{
    position: absolute;
    display: flex;
    width: 2.5rem;
    height: 0.15rem;
    background-color: white;
    bottom: 0.3rem;
    left: 0rem;
    transition: all 0.2s;
    z-index: 1002;
}


.hamburgerMenu:hover{
    opacity: 0.9;
}


.hamburgerMenu:hover .rectangle2{
    width: 2.2rem;
}


.hamburgerMenu:hover .rectangle3{
    top: 1.2rem;
}


.menuOpen1{
    transform: rotate(50deg);
    top: 1rem;
    width: 2rem;

}


.menuOpen2{
    transform: rotate(-50deg);
    top: 1rem;
    width: 2rem;

}


.menuOpen3{
    width: 2rem;
    left: 2rem;
    opacity: 0;
}


.menuOpen3:hover{
    width: 2rem;
}



.toggler{
    display: flex;
    position: absolute;
    top: 0.7rem;
    transform: translateX(-50%);
    width: 4.5rem;
    height: 2rem;
    background-color: #2077C7;
    border-radius: 2.25rem;
    z-index: 8;
    transition: 0.3s;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}


.navToggler{
    left: 50vw;
    transform: translateX(-50%);
}


.toggler:hover .button{
    background-color: #f1f1f1;
}

.button{
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 2.4rem;
    border-radius: 1rem;
    background-color: #BFBFBF;
    z-index: 5;
    pointer-events: none;
    transition: 0.3s;
}

.dayMode{
    right: 0rem;
    background-color: #bdbdbd;
}


.togglerMoon{
    background-color: black;
}

.sun{
    position: absolute;
    z-index: 3;
    top: 0.2rem;
    left: 2.4rem;
    width: 1.7rem;
    height: 1.7rem;
    pointer-events: none;
}

.moon{
    position: absolute;
    z-index: 4;
    left: 0.3rem;
    top: 0.35rem;
    width: 1.5rem;
    pointer-events: none;
}

.togglerNav{
    left: 49vw;
}

.togglerHome{
    left: 85vw;
}


@keyframes fade{
    0%{opacity: 0}
    100%{opacity: 1}
}




@media only screen and (max-width: 1000px){
    .togglerHome{
        left: 82vw;
    }
}


@media only screen and (max-width: 730px){

    .navLogo{
        width: 2rem;
        height: 2rem;
    }

    .hamburgerMenu{
        width: 2rem;
        height: 1.3rem;
    }

    .rectangle1{
        width: 2rem;
    }

    .rectangle2{
        display: none;
    }

    .rectangle3{
        width: 2rem;
    }


    .hamburgerMenu:hover .rectangle3{
        top: 0.83rem;
    }

    .menuOpen{
        top: 0.7rem;
        height: 1.8rem;
    }

    .menuOpen2{
        display: block;
    }

    .toggler{
        top: 0.4rem;
    }

    .togglerHome{
        left: 78vw;
    }

}


@media only screen and (max-width: 730px){

    .navLogo{
        width: 2rem;
        height: 2rem;
    }

    .hamburgerMenu{
        width: 2rem;
        height: 1.3rem;
    }

    .rectangle1{
        width: 2rem;
    }

    .rectangle2{
        display: none;
    }

    .rectangle3{
        width: 2rem;
    }


    .hamburgerMenu:hover .rectangle3{
        top: 0.83rem;
    }

    .menuOpen2{
        display: block;
    }

    .togglerHome{
        left: 75vw;
    }

}


@media only screen and (max-width: 500px){
    .togglerHome{
        left: 73vw;
    }
}


@media only screen and (max-width: 410px){
    .togglerHome{
        left: 67vw;
    }

    .toggler{
        top: 0.6rem;
    }
}


@media only screen and (max-width: 378px){
    .togglerHome{
        left: 60vw;
    }

    .toggler{
        top: 0.6rem;
    }
}


@media only screen and (max-width: 300px){
    .togglerHome{
        left: 55vw;
    }

    .toggler{
        top: 0.6rem;
    }
}


@media only screen and (max-width: 400px){

    .navLogo{
        width: 2rem;
        height: 2rem;
        left: 2rem;
    }

    .hamburgerMenu{
        width: 2rem;
        height: 1.3rem;
        right: 2rem;

    }

    .rectangle1{
        width: 2rem;
    }

    .rectangle2{
        display: none;
    }

    .rectangle3{
        width: 2rem;
    }


    .hamburgerMenu:hover .rectangle3{
        top: 0.83rem;
    }

    .menuOpen2{
        display: block;
    }

}

@media only screen and (max-width: 330px){

    .navLogo{
        width: 1.7rem;
        height: 1.7rem;
        left: 1rem;
    }

    .hamburgerMenu{
        top: 0.9rem;
        width: 2rem;
        height: 1.3rem;
    }

    .menuOpen1{
        width: 1.5rem;
    }

    .menuOpen2{
        width: 1.5rem;
    }

}



@media only screen and (min-width: 1550px){

    .navLogo{
        width: 3rem;
        height: 3rem;
    }

    .toggler{
        left: 90vw;
    }
}
