.preloaderGif{
    height: 20rem;
    position: absolute;
    top: 2rem;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    object-fit: cover;
}

.loadText{
    position: absolute;
    font-family: sans-serif;
    font-size: 1.8rem;
    top: 25rem;
    left: 50vw;
    transform: translateX(-50%);
    color: #000000;
}

.logoOfPreloader{
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 3;
}

.preloaderBackground{
    background-color: #fabf58;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0rem;
    left: 0rem;
}
